<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

	<context:property-placeholder location="classpath:musicPlayer.properties"/>
    <bean id="musicBeanPop"
        class="ru.klabukova.springcourse.PopMusic">
    </bean>
    <bean id="musicBeanClassical"
        class="ru.klabukova.springcourse.ClassicalMusic">
    </bean>
    <bean id="musicBeanRock"
        class="ru.klabukova.springcourse.RockMusic">
    </bean>
    
    <bean id="musicPlayer"
        class="ru.klabukova.springcourse.MusicPlayer">
        <property name="music">
            <list>
                <ref bean="musicBeanPop"/>
                <ref bean="musicBeanClassical"/>
                <ref bean="musicBeanRock"/>
            </list>
        </property>
        <property name="name" value="${musicPlayer.name}"/>
        <property name="volume" value="${musicPlayer.volume}"/>
    </bean>

</beans>